html {
  font-family: serif;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

canvas {
  border: 0;
}

.main_canvas {
  position: absolute;
  left:0;
  top:0;
  /*background-image:url('background.png');*/
}

#game_bg {
  color: ;
}

.game-overlay {
  position: absolute;
  left:0; top:0;
  width: 100vw;
  height: 100vh;
}

#hud {
  display: none;
  background: transparent;
}

  #hud .hud-link {
    font-size: 17px;
    margin: 0.5em;
    color: #ddd;
  }
    #hud .hud-link:hover {
      color: white !important;
      text-decoration: none !important;
    }

#game_fadeout {
  background-color: rgba(0, 0, 0, 0.9);
}

.level-message {
  display: none;
}

  .level-message h2 {
    font-size: 144px;
    margin-bottom: 0.4em;
  }

.level_navigation {
  display: block;
  font-size: 32px;
  color: #ccc;
  line-height: 4rem;
  transition: font-size 0.1s;
}
  .level_navigation:hover {
    font-size: 36px;
    color: white;
  }

.center-screen {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-screen-h {
  position: absolute;
  text-align: center;
  width: 100%;
}

#level_menu {
  background-color: transparent;
  text-align: center;
  display: none;
}

  #level_menu h2 {
    margin-top: 5em;
  }

  #level_menu .level-menu-link {
    display: block;
    color: white;
    height: 3rem;
    transition: font-size 0.1s;
  }

    #level_menu .level-menu-link.level-solved {
      color: #787;
      text-decoration: line-through;
    }

    #level_menu .level-menu-link:hover {
      cursor: pointer;
      color: white !important;
      text-decoration: none !important;
      font-size: 20px;
    }

#level_load, #level_save {
  position: absolute;
  left: 180px; top:40px;
  width: 580px;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgb(157, 189, 116);
  border:1px solid black;
  text-align: center;
}

  #level_output, #level_input {
    display: block;
    background-color: white;
    margin: 1em 20px;
    padding: 5px;
    border: 1px solid black;
    height: 100px;
    width: 528px;
    text-align: left;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  #level_download {
    font-size: larger;
    text-decoration: underline;
  }

#settings {
  position: absolute;
  left: 820px;
  color: black;
}