html {
  font-family: serif;
  color: #fff;
}

html, body {
  height: 100%;
  background-color: #071500;
}

a {
  color: #fff;
  text-decoration: none;
}

#game {
  position: absolute;
  left: 0; top: 0;
}

canvas {
  border: 0;
}

.main_canvas {
  position: absolute;
  left:0; top:0;
  /*background-image:url('background.png');*/
}

.game-overlay {
  position: absolute;
  left:0; top:0;
  width: 100vw;
  height: 100vh;
}

.game-obj-canvas {
  position: absolute;
}

#game_reprs {
  pointer-events: none;
}

#hud {
  display: none;
  background: transparent;
}

  #hud .hud-link {
    font-size: 17px;
    margin: 0.5em;
    color: #ddd;
  }
    #hud .hud-link:hover {
      color: white !important;
      text-decoration: none !important;
    }

#game_fadeout {
  background-color: rgba(0, 0, 0, 0.9);
}

.level-message {
  display: none;
}

  .level-message h2 {
    font-size: 144px;
    margin-bottom: 0.4em;
  }

#level-sections {
  width: 800px;
  margin: auto;
}

.level_navigation {
  display: block;
  font-size: 32px;
  color: #ccc;
  line-height: 4rem;
  transition: font-size 0.1s;
}
  .level_navigation:hover {
    font-size: 36px;
    color: white;
  }

.center-screen {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-screen-h {
  position: absolute;
  text-align: center;
  width: 100%;
}

#level_menu {
  background-color: transparent;
  text-align: center;
  display: none;
}

  #level_menu .level-menu-link {
    display: block;
    color: white;
    height: 3rem;
    transition: font-size 0.1s;
  }

    #level_menu .level-menu-link.level-solved {
      color: #787;
      text-decoration: line-through;
    }

    #level_menu .level-menu-link:hover {
      cursor: pointer;
      color: white !important;
      text-decoration: none !important;
      font-size: 20px;
    }

  #level_menu .level-section {
    background-color: rgba(255, 255, 255, 0.08);
    width: 15rem;
    padding: 2rem;
    display: inline-block;
    margin: 1rem 1rem;
    vertical-align: top;
  }

    #level_menu .level-section h2 {
      font-size: 14pt;
      margin-bottom: 2rem;
    }

#level_load, #level_save {
  position: absolute;
  left: 180px; top:40px;
  width: 580px;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgb(157, 189, 116);
  border:1px solid black;
  text-align: center;
}

  #level_output, #level_input {
    display: block;
    background-color: white;
    margin: 1em 20px;
    padding: 5px;
    border: 1px solid black;
    height: 100px;
    width: 528px;
    text-align: left;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  #level_download {
    font-size: larger;
    text-decoration: underline;
  }

#settings {
  position: absolute;
  left: 820px;
  color: black;
}

/* Preloading animation */
#loading {
  position: relative;
  margin: auto;
  top: 50%;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  border-radius: 100%;
  border: 4px solid white;
  text-align: center;
}

  #loading > span {
    position: relative;
    top: -80%;
    font-size: 10pt;
  }

  #loading > div {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;

    transform-origin: left 50%;

    animation: rotation 4s linear;
    -webkit-animation: rotation 4s linear;
    -moz-animation: rotation 4s linear;
    -o-animation: rotation 4s linear;

    -animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
  }

  #loading > div.ccw {
    -animation-direction: reversed;
    -webkit-animation-direction: reversed;
    -moz-animation-direction: reversed;
    -o-animation-direction: reversed;
  }

    #loading > div > div {
      background: white;
      margin-left: 44px; /* 50 - 16/2 + 4/2 */
      margin-top: -8px; /* -16/2 */
      width: 16px;
      height: 16px;
      border-radius: 100%;
    }

@keyframes rotation {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}

@-moz-keyframes rotation {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}

@-webkit-keyframes rotation {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}

@-o-keyframes rotation {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}
